<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body class="mb-5">
     <% include partials/menu %>

     <div class="container-fluid my-5">
          <div class="row pt-3">
               <div class="col-md-6 col-sm-12">
                    <h1>Desktop</h1>
                    <h3>Custom Build</h3>

                    <div class="row justify-content-center">
                         <div class="col-7">
                              <img src="./images/gear/desktop.jpg" class="featurette-image img-fluid mx-auto rounded" />
                         </div>
                    </div>

                    <div class="row mt-4">
                         <div class="col">
                              <h4>Windows 10</h4>
                         </div>
                    </div>
                    <div class="row justify-content-around mt-4">
                         <div class="col-md-6 col-sm-12 text-left">
                              <h5>Build</h5>
                              <ul>
                                   <li>CPU - Intel i7-6700k</li>
                                   <li>Cooler - Corsair H100i</li>
                                   <li>RAM - 16GB</li>
                                   <li>GPU - EVGA GTX 1070 FTE</li>
                              </ul>
                         </div>

                         <div class="col-md-6 col-sm-12 text-left">
                              <h5>Peripherals</h5>
                              <ul>
                                   <li>Keyboard - Corsair K95 RGB</li>
                                   <li>Mouse - Corsair SCIMITAR</li>
                                   <li>Monitor 1 - LG 4K 75Hz 27"</li>
                                   <li>Monitor 2 - LG 21:9 29"</li>
                                   <li>Headset - Corsair VOID PRO RGB Wireless</li>
                                   <li>Webcam - Logitech C920</li>
                              </ul>

                         </div>
                    </div>
               </div>


               <div class="col-md-6 col-sm-12 pl-2">
                    <h1>Laptop</h1>
                    <h3>Dell Inspiron 13</h3>

                    <div class="row justify-content-center">
                         <div class="col-10m my-5">
                              <img src="./images/gear/inspiron-13.png" class="featurette-image img-fluid mx-auto rounded" />
                         </div>
                    </div>

                    <div class="row mt-4">
                         <div class="col">
                              <h4>Ubuntu 18.04</h4>
                         </div>
                    </div>

                    <div class="row mt-4 justify-content-around">
                         <div class="col-auto text-left">
                              <h5>Specs</h5>
                              <ul>
                                   <li>CPU - Intel i7-7500U</li>
                                   <li>RAM - 12GB</li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <hr class="featurette-divider mx-5">

     <div class="container-fluid my-4">
          <div class="row">
               <div class="col">
                    <h1>Homelab</h1>
               </div>
          </div>
          <div class="row mt-3 justify-content-center">
               <div class="col-md-3 offset-md-3 col-sm-12">
                    <img src="./images/homelab/full_rack.jpg" class="featurette-image img-fluid mx-auto rounded" />
               </div>
               <div class="col-md-6 col-sm-12 pt-3">
                    <div class="row d-flex justify-content-around">
                         <div class="col text-left">
                              <h5>Networking</h5>
                              <ul>
                                   <li>Router - Ubiquiti Unifi UGG-PRO-4</li>
                                   <li>Switch - Ubiquiti Unifi US-24</li>
                                   <li>AP - Ubiquiti Unifi UAP-AP-PRO</li>
                              </ul>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col text-left">
                              <h5>Compute</h5>
                              <ul>
                                   <li>Dell R710</li>
                              </ul>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col">
                              <h5>Storage</h5>
                              <ul>
                                   <li>NAS 1 - Custom Build 8x4TB RAID-Z2</li>
                              </ul>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col">
                              <p>
                                   For a more detailed breakdown see the <a href="/projects/homelab" class="text-primary">Homelab project page</a>
                              </p>
                         </div>
                    </div>

               </div>
          </div>

          <hr class="featurette-divider mx-5">

          <div class="container-fluid mt-4">
               <div class="row">
                    <div class="col">
                         <h1>Tools</h1>
                    </div>
               </div>
               <div class="row pt-3 justify-content-around">
                    <div class="col-md-6 col-sm-12">
                         <h3 class="pt-3">CNC Router</h3>
                         <h5>Shapeoko XXL</h5>

                         <div class="row pt-4 d-flex justify-content-center">
                              <div class="col-md-6 col-sm-12 offset-1">
                                   <div class="">
                                        <img class="img-fluid" src="./images/gear/shapeoko.png">
                                   </div>
                              </div>

                              <div class="col-md-6 col-md-4">
                                   <div class="row mt-4 justify-content-around">
                                        <div class="col-auto text-left">
                                             <h5>Specs</h5>
                                             <ul>
                                                  <li>Cut Width - 838.2mm</li>
                                                  <li>Cut Length - 838.2mm</li>
                                                  <li>Cut Height - 76.2mm</li>
                                                  <li>CAD / CAM - Fusion 360</li>
                                                  <li>Interface - Carbide Motion</li>
                                             </ul>
                                        </div>
                                   </div>
                              </div>
                         </div>

                    </div>

                    <div class="col-md-6 col-sm-12">
                         <h3 class="pt-3">3D Printer</h3>
                         <h5>Ender 3 Pro</h5>

                         <div class="row pt-4 d-flex justify-content-center">
                              <div class="col-md-6 col-sm-12 offset-1">
                                   <div class="">
                                        <img class="img-fluid" src="./images/gear/ender3pro.png">
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-12 text-left">
                                   <h5>Specs</h5>
                                   <ul>
                                        <li>Print Width - 220mm</li>
                                        <li>Print Length - 220mm</li>
                                        <li>Print Height - 250mm</li>
                                        <li>Nozzle Diameter - 0.4mm</li>
                                        <li>CAD - Fusion 360</li>
                                        <li>Slicer - Cura</li>
                                        <li>Interface - <a class="text-primary" href="https://octoprint.org/" target="_blank">Octoprint</a></li>
                                   </ul>
                              </div>
                         </div>

                    </div>
               </div>
          </div>
</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
