<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">

          <div class="row justify-content-center">
               <div class="col-auto">
                    <h1>Capstone Project</h1>
                    <h3>Autonomous Ground Vehicle</h3>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col mt-5">
                    <img class="featurette-image img-fluid mx-auto" src="../images/projects/capstone/cart_night.png" width="500" height="500" />
               </div>
               <div class="col text-left">
                    <h3>Abstract</h3>
                    <p>
                         In a small scale setting, this projects presents a safe alternative method for disabled students to move around campus much more efficiently. The autonomous golf cart could also be used to provide an efficient delivery service on campus. To do this, we will be applying autonomous driving methods and concepts along with integrating our own software to automate a campus cart safely. In a larger setting such as a theme park or festival, this project can be used to efficiently and safely move people from place to place in a timely manner. As of now, we have created a base plan to control all of the mechanical pieces of the cart and have started working with different software platforms to build the program that will control the vehicle and all of its functions.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row mt-3  justify-content-center">
               <div class="card-group">
                    <div class="card" style="width: 18rem;">
                         <div class="card-body">
                              <a class="card-link" href="https://github.com/CSUF-EGCP-470-Autonomous-Cart" target="_blank">
                                   <i class="fab fa-github fa-3x"></i>
                              </a>
                              <h5 class="card-title">Get the source on GitHub</h5>
                         </div>
                    </div>
                    <!-- TODO capstone vids on youtube -->
                    <!-- <div class="card" style="width: 18rem;">
                         <div class="card-body">
                              <a class="card-link" href="#">
                                   <i class="fab fa-youtube fa-3x"></i>
                              </a>
                              <h5 class="card-title">See it on YouTube</h5>
                         </div>
                    </div> -->
               </div>
          </div>
     </div>

</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
